body {
    font-family: Roboto;
    background: #1b1b1b;
    min-height: 100%;
}

/* Style the header */

h1 {
    color: #abb6c5;
    padding: 10px;
    text-align: center;
    font-size: 36px;  
}

div {
    color: #abb6c5;
    text-align: center;
    font-size: 24px;  
}

/* Style the dropdowns */

.dash-dropdown {
    width: 15%;
    padding-left: 20px;
}

.dash-dropdown div {
    font-size: 16px;
    font-family: Roboto;
    color: #444444;
}

/* Style the contents section */

a {
    color: #abb6c5;
    font-size: 16px;
    font-family: Roboto;
    float: left;
}

#contents-header {
    float: left;
}
